.header{
  display: inline-block;
  width: 100%;
  line-height: 50px;
  position: fixed;
  z-index: 99;
  background: white;
}

.menu-box{
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // max-width: 1400px;
  // margin: 0px 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  // padding: 2rem;
  position: relative;
}

.menu-bar{
  float: left;
  display: inline-block;
  font-size: 1.6rem;
  margin-right: 10px;
  display: none;
}

.menu-list{
  display: none;
}

.header__logo{
  // float: left;
  // width: auto;
  // flex: 1; 
  // text-align: center;

  padding: 0 30px;
}

.header__p{
  font-size: 34px;
  font-weight: 500;
  color: #000;
}

.header__menu{
  // float: left;
  // margin-left: 7rem;
  flex: 3 ;
  text-align: center;
}
.header__cart{
  // flex: 1;
  // display: flex;
  // justify-content: flex-end;
  // align-items: center;

  padding: 0px 30px;
} 



.header__li{
  display: inline-block;
  padding: 0 1.5rem;
  vertical-align: middle;
  height: 57px;
}

.header__li:hover{
  background: #444444;
}

.header__a{
  color: #000;
  font-size: 1.6rem;
  font-weight: 600;
}

.header__li:hover  .header__a{
  color: #fff;
}

  .header__subnav {
    background: blue;
    position: absolute;
    top: 97px;
    width: 800px;
    left: 290px;
  }

.header__main{
  font-size: 3rem;
  border-bottom: 2px solid #000;
  padding: 0 1rem;
}
      
.header__img{
  width: 40px;
}

.cart-info{
  position: absolute;
  background-color: grey;
  top: 59px;
  right: 0px;
  // width: 0px; 
  font-size: 1.6rem;
  transition: all .3s ease-in-out;
  overflow: hidden;
  opacity: 0;
  background-color: white;
  border: 1px solid;
  margin: 10px;
  width: 350px;
 
  
}

.show-cart-info{
  // width: 350px;
  padding: 10px;
  opacity: 1;

}

.cart-info-items-container{
  max-height: 300px;
  overflow: scroll;
}

.cart-info-items{
  padding: 5px 0;
}



.cart--item-img{
  float: left;
  width: 20%;
}

.cart--item-title{
  float: left;
  width: 60%;
  padding: 0 10px;

}

.cart--item-price{
  float: left;
  width: 20%;
  text-align: right;

  a{
    color: #000;
  }

  span{
    padding: 0 5px;
  }

}

.check-out-info--total{
  float: left;
  width: 50%;
}

.check-out-info--price{
  float: left;
  width: 50%;
  text-align: right;
}

.check-out{
  text-align: center;
}

.check-out-p{
  display: inline-block;
  background-color: black;
  color: white;
  padding: 10px 20px;
  font-size: 1.4rem;
  line-height: normal;
}


@media (max-width: 1000px) { 

  .show{
    max-height: 300px;
  }

  .header{
    font-size: 22px;

    i{
      font-size: 30px;
      padding: 0 30px;
      vertical-align: middle;
    }

    p{
      font-size: 22px;
    }


  }


  .container {
    padding: 0 0px;
  }

  .header__logo{

    flex: 3 3 80%;
    text-align: center;
  }


  .menu-bar{

    display: block;
    // flex: 1 1 10%;
    // display: flex;
    // align-items: center;
    
  }
  .header__menu{
    display: none;
  }

  .menu-list{
    display: block;
    // margin-top: -3px;
    
    ul{
      background: #000;
      overflow: hidden;
      color: #fff;
      text-align: center;
      transition: .5s;
      max-height: 0px;

      &.show{
        max-height: 300px;
      }
    }
  }

  .menu-item{
    display: inline-block;
    width: 100%;
    padding: 5px;
  }

  .header__mobile_a{
    color: #fff;
  }

  .header__cart{
    // float: none; 
    // margin-top: 0px;
    // display: inline-block;
    // vertical-align: middle;
    // position: absolute;
    // right: 30px;
    // top: 9px;
    // cursor: pointer;
    // padding-left: 15px;

    // flex: 1 1 10%;
  }

  .header__img{
    width: 35px;
  }

}

@media (max-width: 412px) { 
  .header__logo{
    padding: 0 15px;
  }

  .header i{
    padding: 0 15px;
    font-size: 25px;
  }

  .header__p{
    font-size: 18px;
  }

  .header__cart{
    padding: 0 15px;
  }

  .header__img{
    width: 30px;
  }
}