.f_right{
  float: right;
}

.f_left{
  float: left;
}
.proto_col-1-of-3{
  width: 25%;
}

.proto_col-2-of-3{
  width: 48%;
}

.img-set_3{
  width: 26%;
}

.img-set_2{
  float: left;
  width: 100%;
}

.header__outer{
  width: 100%;
  position: fixed;
  z-index: 99;
  // height: 50px;
  // background-color: blueviolet;
  background-color: #fff;
}

.master-header{
  position: relative;
  z-index: 20;
  height: 157px;
}

.header{
  //Starting here
  // display: inline-block;
  // // display: none;
  // width: 100%;
  // line-height: 50px;
  // position: fixed;
  // z-index: 99;
  // background: white;
  // // background-color: #000;
  // padding-bottom: 1rem;


  // width: 100%;
  // position: fixed;
  // z-index: 99;
  // height: 50px;
  position: relative;
  text-align: center;
}

.logo__box{
  display: inline-block;
  width: 100%;
  float: left;
  text-align: center;
  // padding-bottom: 1rem;
}

.brandname{
  text-align: center;
    width: 286px;
    margin: 0 auto;
    line-height: 50px;
    letter-spacing: 3px;
}

  .company-logo{
    font-size: 3rem;
    color: #191919;
    // display: inline-block;
    width: 100%;
    // float: left;
    text-align: center;
    padding-bottom: 1rem;
    // color: #fff;
  }

.above-header-logo{
  position: relative;
  height: 30px;
}

.world-orgin{
  display: inline-block;
    padding: 0px 30px;
    line-height: 1;
    position: absolute;
    top: 50%;
    left: 0;
}

.login-info__box{
  // position: absolute;
  // right: 15px;
  // top: 3px;
}

  .login-text{
    display: inline-block;
    background-color: transparent;
    border: none;
   
  }

.header__cart{
  // flex: 1;
  // display: flex;
  // justify-content: flex-end;
  // align-items: center;
  display: inline-block;
  padding: 0px 30px;
  line-height: 1;
  position: absolute;
  top: 10%;
  right: 0;
} 
  .header__inner__cart{
    overflow: hidden;
    display: inline-block;
  }

  .text__fine{
    display: inline-block;
    vertical-align: middle;
    font-size: 1.0rem;
    // color: #fff;
    color: #191919;
  }

  .header__img{
    width: 30px;
    display: inline-block;
    vertical-align: middle;
    
  }

.layout-box{
  display: inline-block;
  width: 20%;

}

.sub-menu{
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // max-width: 1400px;
  // margin: 0px 30px;

  // display: flex;
  // justify-content: center;
  // align-items: center;
  // margin: 0px auto;
  // padding: 2rem;
  position: relative;
  font-size: 0;
}

.menu-bar{
  font-size: 1.6rem;
  display: none;
}

.menu-list{
  display: none;
}

.header__logo{
  // float: left;
  // width: auto;
  // flex: 1; 
  // text-align: center;

  padding: 0 30px;
}

.header__p{
  font-size: 34px;
  font-weight: 500;
  // color: #000;

}

.header__menu{
  // float: left;
  // margin-left: 7rem;
  // flex: 3 ;
  // text-align: center;
  // display: inline-block;
  // width: 63%;
  // text-align: right;
  // position: absolute;
  // transform: translateX(-50%);
  // left: 50%;
  // display: inline-block;
  // width: 100%;
  // text-align: center;
}

.search-container{
  // float: right;
  display: inline-block;
  width: 20%;
  text-align: right;
  padding-right: 7.5rem;
}

.header__ul{
  border-top: 1px solid #e5e5e5;
  padding: 15px 0;
  position: relative;
}


.header__li:first-child{
  // margin-left: 9%;
}

.header__li{
  display: inline-block;
  padding: 0 1.5rem;
  // vertical-align: middle;
  // height: 57px;
}

.logo__container{
  position: relative;
}

// .header__li:hover{
//   background: #444444;
// }

.header__a{
  color: #000;
  font-size: 1.6rem;
  font-weight: 600;
  padding: .5rem;
  // color: #fff;
}

.header__a:hover {
  color: #444;
  // background: #000;
  border-bottom: 2px solid #444;
}

.header__li:hover .header__subnav{
  display: block;
}

.header__subnav {
  background: #fff;
  position: absolute;
  width: 80%;
  text-align: initial;
  padding: 3rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: antiquewhite;
  display: none;
}

.header__subnav-container{
  display: block;
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

.sub-cato{
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.col-list{
  line-height: initial;
  font-size: 1.2rem;
  color: #000
}

.subnav__subheading{
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  padding-bottom: 1rem;
  display: inline-block;
}



.subnav__text{
  padding-bottom: .2rem;
  cursor: pointer;
}

.subnav__text:hover{
  color: rgb(118, 37, 52);
}

.subnav__list{
  padding-bottom: 1rem;
}

.subnav__item{
  color: #000;
  display: inline-block;
}




.header__main{
  font-size: 3rem;
  border-bottom: 2px solid #000;
  padding: 0 1rem;
}
      


.cart-info{
  position: absolute;
  background-color: grey;
  top: 59px;
  right: 0px;
  // width: 0px; 
  font-size: 1.6rem;
  transition: all .3s ease-in-out;
  overflow: hidden;
  opacity: 0;
  background-color: white;
  border: 1px solid;
  margin: 10px;
  width: 350px;
 
  
}

.show-cart-info{
  // width: 350px;
  padding: 10px;
  opacity: 1;

}

.cart-info-items-container{
  max-height: 300px;
  overflow: scroll;
}

.cart-info-items{
  padding: 5px 0;
}



.cart--item-img{
  float: left;
  width: 20%;
}

.cart--item-title{
  float: left;
  width: 60%;
  padding: 0 10px;

}

.cart--item-price{
  float: left;
  width: 20%;
  text-align: right;

  a{
    color: #000;
  }

  span{
    padding: 0 5px;
  }

}

.check-out-info--total{
  float: left;
  width: 50%;
}

.check-out-info--price{
  float: left;
  width: 50%;
  text-align: right;
}

.check-out{
  text-align: center;
}

.check-out-p{
  display: inline-block;
  background-color: black;
  color: white;
  padding: 10px 20px;
  font-size: 1.4rem;
  line-height: normal;
}


@media (max-width: 1000px) { 

  .show{
    max-height: 300px;
  }

  .header{
    font-size: 22px;

    i{
      font-size: 30px;
      padding: 0 30px;
      vertical-align: middle;
    }

    p{
      font-size: 22px;
    }


  }

  .login-text{
    display: none;
  }

  .brandname{
    // line-height: 5rem;
  }

  .login-info__box{
    right: -11px;
    top: 6px;
  }


  .container {
    padding: 0 0px;
  }

  .header__logo{

    flex: 3 3 80%;
    text-align: center;
  }


  .menu-bar{
    display: block;
    position: absolute;
    top: 11px;
  }



  .header__menu{
    display: none;
  }

  .menu-list{
    display: block;
    // margin-top: -3px;
    
    ul{
      background: #000;
      overflow: hidden;
      color: #fff;
      text-align: center;
      transition: .5s;
      max-height: 0px;

      &.show{
        max-height: 300px;
      }
    }
  }

  .menu-item{
    display: inline-block;
    width: 100%;
    padding: 18px 0;
  }

  .header__mobile_a{
    color: #fff;
  }

  .header__cart{
    // float: none; 
    // margin-top: 0px;
    // display: inline-block;
    // vertical-align: middle;
    // position: absolute;
    // right: 30px;
    // top: 9px;
    // cursor: pointer;
    // padding-left: 15px;

    // flex: 1 1 10%;
  }

  .header__img{
    width: 35px;
  }



}

@media (max-width: 412px) { 
  .header__logo{
    padding: 0 15px;
  }

  .header i{
    padding: 0 15px;
    font-size: 25px;
  }

  .header__p{
    font-size: 18px;
  }

  .header__cart{
    padding: 0 15px;
  }

  .header__img{
    width: 30px;
  }
}