
.slider{
  // width: 100%;
  // position: relative;
  // height: 100vh;
  // overflow: hidden;
  // background: url("/img/hero-background.jpg") no-repeat ;
  // background-position: center;
  // background-size: cover;

}

@media (max-width: 1740px) {
  
  .slider{
    height: initial;
  }
}

@media only screen and (min-width: 48em){

}
.slider:before {
  // display: block;
  // content: '';
  // width: 100%;
}

.slider__img{
  max-width: 100%;
  // height: auto;
  // object-fit: contain;
}

.img-background{
  background: url("../img/hero_background.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 18%;
}

.slider__text{
  // position: absolute;
  // top: 20%;
  // bottom: 0;
  // left: 50%;
  // color: white;
  // font-family: Tw Cen MT;
  // width: 550px;
  // transform: translateX(-50%);
  text-align: center;
    width: 40%;
    margin: 0 auto; 
  
}

@media (max-width: 1208px) { 

  .slider__text{
    left: 5%;
    width: 380px;

    & h2{
      font-size: 5.7rem;
    }
  }


}

@media (max-width: 900px) { 

  .slider__text{
    left: 2%;
    width: 350px;

    .slider__title{
      font-size: 3.7rem;
      line-height: 4rem;
    }
  }


}

@media (max-width: 800px) { 

  .slider__text{
    left: 0%;
    top: 12%;
    bottom: 520px;
    width: 100%;
    text-align: center;

    .slider__title{
      font-size: 3.7rem;
      line-height: 4rem;
      width: 70%;
      margin: 0 auto;
    }

    .slider__subtitle{
      width: 70%;
      margin: 0 auto;
    }

    .btn-link{
      margin-left: 0px;
      margin: 0 auto;
    }
  }

  .slider__text::after{
    content: "";
    clear: both;
    display: table;
  }


}

@media (max-width: 490px) { 

  .slider__text{
    left: 0%;
    top: 5%;
    bottom: 520px;
    width: 100%;
    text-align: center;

    .slider__title{
      font-size: 3.0rem;
      line-height: 4rem;
      width: 70%;
      margin: 0 auto;
    }

    .slider__subtitle{
      font-size: 1.2rem;
      display: none;
    }

    .btn-link{
      font-size: 1.6rem;
      padding: 20px 30px;
      margin-top: 10px;
    }
  }






}


.slider__title{
  line-height: 7rem;

}

.slider__subtitle{
  color: white;
  padding: 1rem 0;
  line-height: 2.2rem;
}

.btn-link{
  font-size: 2.2rem;
  color: #fff;
  background-color: #2f2f2f;
  padding: 10px 30px;
  border-radius: 2px;
  margin-top: 2.5rem;
  display: inline-block;
  margin-left: 50px;
  transition: .3s;

  &:hover{
    background-color: #2F2F2F;
    color: #fff;
  }
}


.info{
  overflow: hidden;
  // margin: 10px 0;
  clear: both;
  margin-bottom: 6rem;
  height: 66px;
  // margin-left: 1%;
  // transition: 2s;
  // opacity: 0;

}

.info__ul{

}

.info__li{
  // width: 33.3%;
  float: left;
  display: inline-block;
  // line-height: 30px;
}
.info__content{
  background-color: #2F2F2F;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin: 5px 5px;
  line-height: 17px;
  letter-spacing: 2px;
  // margin-top: 16px;
  padding: 11px 0px;
}

@media (max-width: 800px) {
  .info{
    margin-left: 0px;
  }
  .info__li{
    width: 100%;
    position: absolute;
  }
}






.main{
  position: relative;
  margin: 0 300px;
}

// @media (max-width: 1200px) {

// }

@media (max-width: 1200px) {
  .main{
    margin:0px;
  }
}

@media (min-width: 2000px) {
  .main{
    margin: 0 auto;
  }
}


.products{
  // display: inline-block;
  // float: left;
  // width: 100%;
  margin-bottom: 6rem;
}

@media (max-width: 800px) { 
  .products{
    margin-top: 30px;
  }
}

.intro-info{
  // padding: 60px 0;
  // text-align: center;
  position: relative;
}

.intro__header{
  margin-bottom: 10px;
  font-family: Tw Cen MT;
  color: #222222;
  border-bottom: 1px solid #c8c8c8;
  padding-bottom: 20px;
}



  .intro__text{
    text-transform: uppercase;
    color: #919191;
    position: absolute;
    top: 63px;
    // left: 50%;
    // transform: translateX(-50%);
    background: white;
    // width: 230px;
  }

@media (max-width: 550px) { 
  .heading__h3{
    font-size: 3.2rem;
  }

  .heading__p{
    top:105px;
  }
}

@media (max-width: 550px) { 
  .intro__header{
    font-size: 4.0rem;
   
  }
  
  .intro__text{
    top: 53px;
  }
}


.filter{
  padding: 2rem;
  width: 100%;
  position: absolute;
  left: -300px;
  max-width: 300px;
}

.panel{
  margin-bottom: 2rem;
}

  .panel__heading{
    margin-bottom: 2rem;
    font-size: 3.1rem;
  }

  .subheading__container{
    margin-bottom: 1rem;
  }

  .subheading{
    font-size: 2rem;
    // border-bottom: 1px solid #e5e5e5;
  }

  .panel__details{
    margin-bottom: .2rem;
  }
  
  .panel__item{
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

    .panel__checkbox{
      margin-right: 0rem;
      -webkit-appearance: none;
      /* background-color: #fafafa; */
      border: 1px solid #000000;
      /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05); */
      padding: 6px;
      border-radius: 3px;
      display: inline-block;
      position: relative;
      border-radius: 0px;
      vertical-align: middle;
    }

  .panel__checkbox:active, .panel__checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
    background-color: black;
  }
  
  .panel__checkbox:checked {
    background-color: black;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
  }
  
  .panel__checkbox2{
    margin-right: 0rem;
    -webkit-appearance: none;
    /* background-color: #fafafa; */
    border: 1px solid #000000;
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05); */
    padding: 6px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    border-radius: 0px;
    vertical-align: middle;
  }

.panel__checkbox2:active, .panel__checkbox2:checked:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
  background-color: black;
}

.panel__checkbox2:checked {
  background-color: black;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  color: #99a1a7;
}
  .panel__label{
    vertical-align: middle;
  }

  .panel__checkbox2{
    vertical-align: middle;
  }

  .panel__label:hover{
    color: #b1b1b1;
  }

  .panel__item:last-child{
    margin-bottom: 2rem;
  }

.whole{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box{
  flex-basis: 27%;
}

.cb{
  clear: both;
}

.product-item{
  // display: inline-block;
  // float: left;
  width: 100%;
  // margin: 0 auto;
  overflow: hidden;
  font-size: 0;
  // text-align: center;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
}

// .item:not(:last-child){
//   text-align: left;
// }

@media (max-width: 1078px) { 

  .product-item{
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }
}

.item{

  // float: left;

  width: 20%;

  position: relative;
  margin: 25px 0;
  padding-left: 10px;
  cursor: pointer;
  display: inline-block;
}

.item__fadein{
  opacity: 0;
}


@media (max-width: 1450px) { 

  .item{
    width: 33.333%;
  }
}

@media (max-width: 600px) { 

  .item{
    width: 50%;
  }
}

@media (max-width: 450px) { 

  .item{
    width: 90%;
  }
}

// @media (max-width: 450px) { 

//   .item{
//     width: 50%;
//   }
// }

.item-img{
  // width: 250px;
  position: relative;
  // height: 400px;

}

.item-button{
  position: absolute;
  top: 0;
  left: 0;
  padding:40px 27px;
  width:100%;
  height: 100%;
  background-color: transparent;
  text-align: center;
  opacity: 0;
  transition: all .2s ease-in-out;
  // &:hover{
  //   opacity: 1;
  // }
}

.item:hover .item-button{
  // width: 100%;
  opacity: 1;
}



.item-button-a{
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  // width:140px;
  // height:45px;
  // line-height: 45px;
  text-align: center;
  display: inline-block;
  font-size: 1.5rem;
  padding: 13px 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

// .item-button-a:hover{
//   background: #fff;
//   color: #333;
// }

.item-title{
  display: inline-block;
  float: left;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  // position: absolute;
  // bottom: 0px;

}

.item-title__Fp{
  color: #222222;
  margin-bottom: 7px;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: left;
}

.item-title__p{
  color: #c824f7;
  color: $mygrey;
  font-weight: 600;
  font-size: 14px;
  text-align: left;
}

.item-title__p del{
  color: #838b8f;
  
}


.item-button-a:hover{
  background-color: #2F2F2F;
  color: #fff;
}

.view-all-button{
  text-align: center;
  font-size: 26px;
}

.view-button{
  color: #fff;
  background-color: #121212;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  margin-bottom: 15px;
  font-size: 1.6rem;
  padding: 15px 60px;
}

.view-button:hover{
  background-color: #2F2F2F;
  color: #fff;
}




.background1{
  // display: inline-block;
  // width: 100%;
  // float: left;
  // background-image: url(../img/img1.jpg);
  // padding: 25px 0;
  // background-size: cover;
  // background-position: center;
  // // margin-top: 50px;
  // text-align: center;
  // margin-bottom: 6rem;
}

  .banner{
    padding: 25px 60px;
    overflow: hidden;
    width: 100%;
    float: left;
    // background-image: url(../img/img1.jpg);
    // padding: 25px 0;
    background-size: cover;
    background-position: center;
    text-align: center;
    margin-bottom: 6rem;
  }

  .banner__p1{
    background-image: url(../img/img1.jpg);
  }
  .banner__p2{
    background-image: url(../img/img63.jpg);
  }

.bg__h3{
  color: #fff;
  font-family: Tw Cen MT;
  margin: 25px 0;
}

.bg__a{
  color: #fff;
  background-color: #121212;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  margin-bottom: 15px;
  font-size: 1.6rem;
  padding: 15px 60px;
}


.bg__a:hover{
  background-color: #2F2F2F;
  color: #fff;
}

.background2{
  // display: inline-block;
  // width: 100%;
  // float: left;
  // background-image: url(../img/img63.jpg);
  // padding: 25px 0;
  // background-size: cover;
  // background-position:0 -425px;
  // background-repeat: no-repeat;
  // // margin-top: 50px;
  // text-align: center;
  // margin-bottom: 6rem;
}



.brand{
  width: 83px;
  float: left;
  margin-left: 70px;
}

@media (max-width: 978px) { 

  .background2{
    background-position: 0 -135px;
  }

  .brand{
    margin-left: 10px;
  }
}

@media (max-width: 478px) { 

  .brand{
    display: none;
  }
}

.center{
  overflow: hidden;
  display: inline-block;
}






.layout{
  font-size: 0;

}

.layout__view{
  width: 60%;
  display: inline-block;
  // background: #3e56a0;
  font-size: initial;

}

@media screen and (max-width: 768px) {
  .layout__view{
    width: 100%;

  
  }
}

.layout__view__img-box{
  width: 70%;
  width: 300px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .layout__view__img-box{
    width: 300px;
    margin: 0 auto;
  }
  
}


.layout__details{
  padding-left: 4rem;
  width: 40%;
  display: inline-block;
  // background: #2c4cae;
  font-size: initial;
  vertical-align: top;
  padding-top: 3rem;
}

@media screen and (max-width: 768px) {
  .layout__details{
    padding-left: 4rem;
    width: 90%;
    display: block; 
    font-size: initial;
    vertical-align: top;
    padding-top: 3rem;
    margin: 0 auto;
  }
  
}
  .product__title{
    padding-top: 3rem;
  }

  .product__image-section{
    margin-bottom: 3rem;
  }

  .product__image__small{
    width: 20%;
    display: inline-block;
    cursor: pointer;
  }

  .product__title__subtitle{
    margin-bottom: 3rem;
  }

  .product__size{
    margin-bottom: 3rem;
  }

  .product__size-section{
    margin-bottom: 6rem;
  }

  .product__size-btn{
    width: 20%;
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 15px;
    text-align: center;
    background-color: wheat;
  }

  .product__size-btn:hover{
    color: #fff;
    background-color: #000;
  }

  .product__add-to-cart{
    margin-bottom: 3rem;
    background-color: #000;
    color: #fff;
    padding: 30px;
    text-align: center;
  }

  .product__add-to-cart:hover{
    background-color: #000000b5;
  }

  .product__detail{
    margin-bottom: 3rem;
  }

  .product__details--points{
    list-style: circle; 
  }

  .product__details--points:last-child{
    margin-bottom: 4rem;
  }


