/* Utility Classes */

.clearfix:after{
  content:'.';
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.container{
  // margin: 0 230px;
  padding: 0 60px;
  overflow: hidden;
}



.row {
  max-width: 120rem;
  margin: 0 auto;
}

.row::after {
  content: '';
  display: table;
  clear: both; }

  .row [class^="col-"] {
    float: left; }

  .row .col-1-of-2 {
    width: calc(100% / 2); }

  .row .col-1-of-3 {
    width: calc(100% / 3); }

  .row .col-2-of-3 {
    width: calc(2 *((100% - 2 * 6rem) / 3) + 6rem); }

  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }

  .row .col-2-of-4 {
    width: calc(2 *((100% - 3 * 6rem) / 4) + 6rem); }
    
  .row .col-3-of-4 {
    width: calc(3 *((100% - 3 * 6rem) / 4) + 2 * 6rem); }


.key-line{
  height: 1px;
  background-color: #e5e5e5;
  margin-bottom: 2rem;
}





.move-over {
  margin-left: 120px;
}