// **************
// COLOR VARIABLES
// *************

$primary-bg-color:     #7A6C5D;
$secondary-bg-color:   #2A3D45;
$accent-bg-color:      #DDC9B4;

$accent-color:         #DDAB5E;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

$btn: #121212;
$btn-bg: #dde6ef;

$btn-2nd: #fff;
$btn-bg-2nd: #2F2F2F;


$myblack: #191919;
$mywhite: #fff;
$mygrey: #585858;
$mygrey2: #999;






// **************
// BREAK POINTS
// *************

// $breakpoint-desktop: 2500px;
// $breakpoint-laptop: 950px;
// $breakpoint-tablet: 768px;
// $breakpoint-mobile: 400px;
//


// **************
// CSS VARIABLES
// *************

:root{
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.3);
}
